h1 {
  color: salmon;
}


/*                                         */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
  --primary-color : #12ac8e;
  --primary-color-dark: #0d846c;
   --primary-color-light : #b8e1e1;
   --secondary-color : #fb923c;
   --text-dark :#333333;
   --text-light :#767268;
   --white : #ffffff;
   --max-width: 1200px;

}
body{
    background-image: url(background-image.png);
    background-size: cover; 
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_container{
    margin: auto;
    padding: 5rem 1rem;
    max-width: var(--max-width);
}
.section_header{
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: blueviolet;
}
.btn{
    padding: .75rem 2rem;
     outline: none;
     border: none;
     font-size: 1rem;
     white-space: nowrap;
     color : var(--white);
     background-color: var(--secondary-color);
     border-radius: 5px;
     cursor: pointer;
}
img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
}
header{
    background-image: linear-gradient(to right
    rgba(18,172,142,0.9),
      rgba(18,172,142,0.7)
      
    ),
    url("assets/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav_container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlogo{
    font-size: 1.5rem;
    font-weight: 600;
   color: var(--white);
}
.navlogo span{
    color: var(--secondary-color);
    font-size: 50px;
    text-shadow: 2px 2px #333333;
}
.navlink{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: 2s;
}
.link a:hover{
   color: var(--white);
   cursor: pointer;
}

.header_container{
    display: flex;
    align-items: center;
    gap : 5rem;

}
.header_container h1{
    margin-bottom: 1rem;
    max-width: 800px;
    font-size: 3.5rem;
    line-height: 4rem;
    color:  #fb923c;
    text-shadow : 3px 3px #767268;
}
.header_container p{
    margin-bottom: 2rem;
    max-width: 600px;
    color: #100620;
    font-size: 1.5rem;
    
}
.header_form form{
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 20px rgba(0,0,0,0.2);
}
.header_form input{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 5px;

}
.header_form input ::placeholder{
    color: var(--primary-color);

}
.form_btn{
    background-color: var(--primary-color);
    transition: .3s;
}
.form_btn :hover{
    background-color: var(--primary-color-dark);
}
.header_form h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.service_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.service_header_content p{
max-width: 600px;
color: #100620;
font-size: 20px;
}
.service_btn{
    padding: .75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}
.service_btn :hover{
   color: var(--white);
   background-color: var(--primary-color);
}
.footer{
    background-color: var(--primary-color-light);
}
.footer_container{
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}
.footer_col h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer_col h3 span{
    color: var(--secondary-color);
}
.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.footer_col p{
    margin-bottom: 1rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: 0.3s;
}
.footer_col p :hover{
    color: var(--primary-color);
}
.footer_col i{
    color: var(--primary-color);
}
.footer_bar{
    background-color: var(--primary-color);
}
.footer_bar_content{
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.footer_bar_content p{
    font-size: 0.8rem;
}

